<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507169574109-q2viqe82nvd3rhuvp7b890tareq9a90s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507169574109-q2viqe82nvd3rhuvp7b890tareq9a90s</string>
	<key>API_KEY</key>
	<string>AIzaSyCPJNrfACG3fJ4Z4anQ53rUJxqlrqAk3kw</string>
	<key>GCM_SENDER_ID</key>
	<string>507169574109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-auth-cdff2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-auth-cdff2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507169574109:ios:514a649121d5d0a0555f34</string>
</dict>
</plist>